<h1 class="page-header">Forms</h1>

<ul class="nav nav-tabs">
    <li class="active"><a href="#/form">Forms</a></li>
    <li><a>Fields</a></li>
</ul>


<table class="table table-striped" ng-controller="FormController">
    <thead>
    <tr>
        <th><span class="glyphicon glyphicon-sort" /> Form title</th>
        <th><span class="glyphicon glyphicon-sort" /> Action</th>

    </tr>
    <tr>
        <td><input class="form-control" type="text" name="formtitle" placeholder="title" ng-model="newForm.title"/></td>

        <td>
            <a ng-click="addForm()" class="glyphicon glyphicon-plus"/>
            <a ng-click="updateForm()" class="glyphicon glyphicon-ok"/>
        </td>
    </tr>

    </thead>
    <tbody>
    <tr ng-repeat="form in forms">
        <td> <a href="#/user/{{form.userId}}/form/{{form.id}}/fields"> {{form.title}} </td>
        <td>
            <a ng-click="deleteForm($index)" class="glyphicon glyphicon-remove"/>
            <a ng-click="selectForm($index)" class="glyphicon glyphicon-ok"/>
        </td>
    </tr>


    </tbody>
</table>