.productList-img {
    width: 200px;
    height:200px;
}

.product {
    color: #eb3812;
    font-size: x-large;
    font-family: Menlo;
}

.product-img{
    width: 300px;
    height: 300px;
}

.product-detail{
    font-size: xx-large;
}