<section ng-controller="AdminUserController">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3><a href="#admin/user">User</a></h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-shopping-bag wow bounceIn text-primary"></i>
                    <h3><a href="#admin/product">Product</a></h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3><a href="#admin/reviews">Reviews</a></h3>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row text-primary">
            <h1>Users</h1>
            <hr>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>UserName</th>
                        <th class="col-lg-3 col-md-3">Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th class="col-lg-1 col-md-1">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users">
                        <td class="col-md-2">{{user.username}}</td>
                        <td class="col-md-3">{{user.email}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td><a ng-click="deleteUser($index)" class="glyphicon glyphicon-remove"/></td>
                    </tr>
                    </tbody>
                </table>
        </div>
    </div>
</section>