

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar" ng-controller="SidebarController">
        <li><a href="#/home" ng-class="{'active' : $location.url() == '/home'}">Home</a></li>
        <li><a href="#/profile" ng-class="{'active' : $location.url() == '/profile'}">Profile</a></li>
        <li><a href="#/admin" ng-class="{'active' : $location.url() == '/admin'}">Admin</a></li>
        <li><a href="#/form" ng-class="{'active' : $location.url() == '/form'}">Forms</a></li>
    </ul>

</div>

