<section ng-controller="AdminProductController">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3><a href="#admin/user">User</a></h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-shopping-bag wow bounceIn text-primary"></i>
                    <h3><a href="#admin/product">Product</a></h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3><a href="#admin/reviews">Reviews</a></h3>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="row bg-primary">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <h1>Add New Product</h1>
                <form class="form-horizontal">

                    <div class="form-group">
                        <label for="inputBrand" class="col-sm-2 control-label">Brand</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="inputBrand" placeholder="Brand" ng-model="brand">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="inputName" placeholder="Name" ng-model="productName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPrice" class="col-sm-2 control-label">Price</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPrice" placeholder="Price" ng-model="price">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPicture" class="col-sm-2 control-label">Picture</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPicture" placeholder="URL" ng-model="picture">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="center">
                            <a type="submit" class="btn btn-default" ng-click="add()">Add</a>
                        </div>
                    </div>

                </form>

            </div>
            <!--<div class="form-group">-->
            <!--<label for="user", class="col-sm-2 control-label"></label>-->
            <!--</div>-->

        </div>

        <br>
        <br>

        <div class="row">
            <!--<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-primary">-->
            <div class="text-primary">
                <h1>Products</h1>
                <hr>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="col-lg-2 col-md-2">Brand</th>
                        <th class="col-lg-3 col-md-3">Name</th>
                        <th class="col-lg-1 col-md-1">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="product in adminProducts">
                        <td class="col-md-2">{{product.brand}}</td>
                        <td class="col-md-3">{{product.productName}}</td>
                        <td><a ng-click="deleteProduct($index)" class="glyphicon glyphicon-remove"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>